<script lang="ts">
    import { page } from "$app/stores";
    import { MetaTags } from "svelte-meta-tags";
</script>

<svelte:head>
    <script src="https://cdn.counter.dev/script.js" data-id="5f5efda7-e903-43a1-a51f-cd1054243297" data-utcoffset="-6"></script>

    <MetaTags
        title="The Kingdom: Minecraft"
        description="The Kingdom's Minecraft server landing page"
        keywords={["minecraft", "kingdom", "server", "vanilla"]}
        robots={false}
        openGraph={{
            title: "The Kingdom: Minecraft",
            description: "The Kingdom's Minecraft server landing page",
            images: [
                {
                    url: `${$page.url.host}/favicon.png`,
                    width: 64,
                    height: 64,
                }
            ]
        }}
    />
</svelte:head>

<slot></slot>

<style>
:global(:root)
{
    --mc-dark-red: #aa0000;
    --mc-red: #ff5555;
    --mc-gold: #ffaa00;
    --mc-yellow: #ffff55;
    --mc-dark-green: #00aa00;
    --mc-green: #55ff55;
    --mc-aqua: #55ffff;
    --mc-dark-aqua: #00aaaa;
    --mc-dark-blue: #0000aa;
    --mc-blue: #5555ff;
    --mc-light-purple: #ff55ff;
    --mc-dark-purple: #aa00aa;
    --mc-white: #ffffff;
    --mc-gray: #aaaaaa;
    --mc-dark-gray: #555555;
    --mc-black: #000000;
}

:global(body)
{
    background-color: #111111;
    color: #eeeeee;
    font-family: "minecraftia", "minecraft", monospace;
    background-image: url("$lib/images/background.png");
    overflow-x: hidden;
    margin: 0;
}

:global(a)
{
    text-decoration: none;
    color: unset;
}

:global(a:visited)
{
    color: unset;
}

@font-face
{
    font-family: "minecrafter";
    src: url("/fonts/Minecrafter.Reg.ttf");
}

@font-face
{
    font-family: "minecraft";
    src: url("/fonts/Minecraft.ttf");
}

@font-face
{
    font-family: "minecraftia";
    src: url("/fonts/Minecraftia.ttf");
}
</style>
