<script lang="ts">
    import { env } from "$env/dynamic/public";
    import { onMount } from "svelte";
    import { chooseSplash, clamp } from "$lib/util";
    import Button from "$lib/components/Button.svelte";
    import ServerCard from "$lib/components/ServerCard.svelte";
    import Popup from "$lib/components/Popup.svelte";
    import banner from "$lib/images/banner.png";
    import copyIcon from "$lib/images/ui/copy_icon.png";
    import mapIcon from "$lib/images/ui/map_icon.png";
    import sourceIcon from "$lib/images/ui/source_icon.png";
    import donateIcon from "$lib/images/ui/donate_icon.png";
    import downloadsIcon from "$lib/images/ui/downloads_icon.png";
    import type { LookupData } from "$lib/types";

    export let lookup: LookupData = { success: false, timestamp: 0 };

    let splashText = "Server offline!";
    let splashContainer: HTMLDivElement;

    async function fetchData()
    {
        const response = await fetch("/api");
        const lastLookup = lookup;
        lookup = await response.json() as LookupData;
        if (lastLookup.success !== lookup.success)
        {
            splashText = lookup.success ? "Server online!" : "Server offline!";
        }
    }

    async function splash()
    {
        splashText = await chooseSplash(lookup.success, splashText);
        resize();
    }

    async function resize()
    {
        const initialSize = 100;
        const size = clamp(initialSize / (Math.sqrt(splashText.length) / Math.sqrt(window.innerWidth / 1920)), 6, 32);
        splashContainer.style.fontSize = `${size}px`;
    }

    async function copy(mouseEvent: MouseEvent)
    {
        navigator.clipboard.writeText(env.PUBLIC_SERVER_ADDRESS);
        showPopup({ x: mouseEvent.clientX, y: mouseEvent.clientY });
    }

    async function showPopup(position: { x: number, y: number })
    {
        const popup = new Popup({
            target: document.body,
            props:
            {
                x: position.x,
                y: position.y
            }
        });
        setTimeout(() => popup.$destroy(), 1000);
    }

    onMount(() =>
    {
        fetchData();
        const interval = setInterval(fetchData, 10000);
        return () => clearInterval(interval);
    });
    onMount(() => resize());
</script>

<svelte:window on:resize={resize} />
<div class="top-center">
    <div class="center title">
        <img src="{banner}" alt="Minecraft: The Kingdom" />
        <div class="splash-container" bind:this={splashContainer}>
            <div class="tilt">
                <!-- svelte-ignore a11y-invalid-attribute -->
                <a class="splash" href="" on:click={splash}>{splashText}</a>
            </div>
        </div>
    </div>
    <div class="center">
        <ServerCard lookup={lookup} copy={copy}></ServerCard>
    </div>
    <div class="center buttons">
        <div class="row">
            <div class="button">
                <Button onClick={copy} icon="{copyIcon}">
                    Copy Server Address
                </Button>
            </div>
            <div class="button">
                <Button href="/map" icon="{mapIcon}">
                    Open Map
                </Button>
            </div>
        </div>
        <div class="row">
            <div class="button">
                <Button href="{env.PUBLIC_SOURCE_URL}" icon="{sourceIcon}">
                    Source
                </Button>
            </div>
            <div class="button">
                <Button href="{env.PUBLIC_DONATE_URL}" icon="{donateIcon}">
                    Donate
                </Button>
            </div>
        </div>
        <div class="row">
            <div class="button">
                <Button href="/worlds" icon="{downloadsIcon}">
                    World Downloads
                </Button>
            </div>
        </div>
    </div>
</div>

<style>
.center
{
    margin: 0 auto;
    text-align: center;
}

.top-center
{
    margin: 0 auto;
    margin-top: 15vh;
    width: 650px;
}

@media screen and (max-width: 850px)
{
    .top-center
    {
        width: 75%;
    }
}

.title
{
    position: relative;
    margin-bottom: 8vmin;
    display: inline-block;
}

.title img
{
    display: block;
    margin-top: 5%;
    width: 100%;
    user-select: none;
}

.splash
{
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--mc-yellow);
    text-shadow: 0.3vmin 0.3vmin var(--mc-black);
    user-select: none;
    animation: pop 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
    transform-origin: center center;
    height: 8vmin;
    min-width: 20vmin;
    white-space: nowrap;
}

.splash-container
{
    position: absolute;
    top: 50%;
    left: 95%;
    transform: translateX(-50%);
    font-size: 3vmin;
    font-weight: bold;
}

.tilt
{
    transform-origin: center center;
    transform: rotate(-20deg);
}

@keyframes pop
{
    from
    {
        transform: scale(0.95);
    }
    50%
    {
        transform: scale(1);
    }
    to
    {
        transform: scale(0.95);
    }
}

.buttons
{
    display: block;
    width: 100%;
    margin: 0;
    margin-top: 4vmin;
}

.buttons .row
{
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
}

.button
{
    flex-grow: 1;
    flex-basis: 300px;
    margin: 4px;
    padding: 0px;
}
</style>
