<script lang="ts">
    import Button from "$lib/components/Button.svelte";
    import { env } from "$env/dynamic/public";
</script>

<iframe src="{env.PUBLIC_MAP_URL}" title="Dynmap">
</iframe>

<div class="button">
    <Button href="/">Back</Button>
</div>

<style>
iframe
{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.button
{
    position: absolute;
    left: 5px;
    bottom: 8px;
    height: 35px;
    width: 200px;
}
</style>
