<script lang="ts">
    import Button from "$lib/components/Button.svelte";
    import WorldCard from "$lib/components/WorldCard.svelte";
    import banner from "$lib/images/banner.png";
    import type { WorldMeta } from "$lib/types";
    import type { PageData } from "./$types";

    export let data: PageData;

    let worlds: WorldMeta[] = [];

    const init = (async () =>
    {
        worlds = await data.streamed.worlds;
    })();
</script>

<div class="top-center">
    <div class="center title">
        <a href="/">
            <img src="{banner}" alt="Minecraft: The Kingdom" />
        </a>
    </div>
    <div>
        <h2>Downloads</h2>
    </div>
    {#await init then _}
    <div class="flex-col">
        {#each worlds as world}
            <WorldCard world={world} />
        {/each}
    </div>
    {/await}
    <div class="footer">
        <Button href="/">
            Back
        </Button>
    </div>
</div>

<style>
.footer
{
    position: fixed;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
}

.flex-col
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 5rem;
}

.center
{
    margin: 0 auto;
    text-align: center;
}

.top-center
{
    margin: 0 auto;
    width: 650px;
    height: 100vh;
    position: relative;
}

@media screen and (max-width: 850px)
{
    .top-center
    {
        width: 75%;
    }
}

.title
{
    position: relative;
    margin-bottom: 2rem;
    display: inline-block;
    margin-top: 2rem;
}

.title img
{
    display: block;
    margin-top: 5%;
    width: 100%;
    user-select: none;
}
</style>
