<script lang="ts">
    /** Function be called on click.*/
    export let onClick = click;
    /** URI to redirect to on click. */
    export let href = "#";
    export let icon = "";

    const isSelf = href.startsWith("/") || href.startsWith("#");

    async function click(_mouseEvent: MouseEvent)
    {
        return;
    }
</script>

<a href="{href}" target="{isSelf ? '_self' : '_blank'}" on:click={onClick}>
    <span>
        {#if (icon)}
            <img src="{icon}" alt="Button icon" />
        {/if}
        <slot>Button</slot>
    </span>
</a>

<style>
a
{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    border: var(--mc-black) solid 2px;
    color: var(--mc-white);
    text-align: center;

    background: url("$lib/images/button.png") no-repeat;
    background-size: cover;
    image-rendering: pixelated;
}

a img
{
    margin-top: 1px;
    height: 70%;
    vertical-align: middle;
}

a:hover
{
    border-color: var(--mc-white);
}

a span
{
    display: flex;
    text-shadow: 0.25vmin 0.25vmin var(--mc-dark-gray);

    width: 100%;
    height: 100%;
    vertical-align: middle;

    justify-content: center;
    align-items: center;
    margin-top: -0.3%;
    gap: 8px;

    font-size: 14px;
    user-select: none;
}
</style>
