<script lang="ts">
    export let x = 0;
    export let y = 0;
</script>

<div class="copy-popup" style:left="{x}px" style:top="{y}px">
    Copied!
</div>

<style>
.copy-popup
{
    position: fixed;
    color: var(--mc-white);
    z-index: 1;
    cursor: none;
    user-select: none;
    pointer-events: none;
    animation: slide 1s forwards;
}

@keyframes slide
{
    from
    {
        transform: translate(-50%, -1em);
        opacity: 1;
    }
    to
    {
        transform: translate(-50%, -4em);
        opacity: 0;
    }
}
</style>
