<script lang="ts">
    import { convertColor } from "$lib/util";
    import connection0 from "$lib/images/ui/connection0.png";
    import connection1 from "$lib/images/ui/connection1.png";
    import connection2 from "$lib/images/ui/connection2.png";
    import connection3 from "$lib/images/ui/connection3.png";
    import connection4 from "$lib/images/ui/connection4.png";
    import connection5 from "$lib/images/ui/connection5.png";
    import ping1 from "$lib/images/ui/ping1.png";
    import ping2 from "$lib/images/ui/ping2.png";
    import ping3 from "$lib/images/ui/ping3.png";
    import ping4 from "$lib/images/ui/ping4.png";
    import ping5 from "$lib/images/ui/ping5.png";
    import type { LookupData } from "$lib/types";

    export let lookup: LookupData;
    export let copy: (position: any) => void;

    let pingImage = ping1;
    const pingImages = [ping1, ping2, ping3, ping4, ping5];
    let currentPing = 0;
    const connectionThresholds = {
        0: connection5,
        100: connection4,
        150: connection3,
        200: connection2,
        250: connection1,
    };
    let connectionImage = connection0;

    $:
    {
        if (lookup.success)
        {
            for (const [key, val] of Object.entries(connectionThresholds))
            {
                if (lookup.latency != null && lookup.latency > parseInt(key))
                {
                    connectionImage = val;
                }
            }
        }
    }

    async function animation()
    {
        pingImage = pingImages[currentPing];
        currentPing = (currentPing + 1) % pingImages.length;
    }

    function startAnimation(element: HTMLElement)
    {
        const interval = setInterval(animation, 200);
        return {
            destroy()
            {
                clearInterval(interval);
            }
        };
    }

</script>

<a href="#" on:click={copy} title="Copy server address">
    <div class="card">
        <div class="left">
            <div class="logo">
                {#if (lookup.image)}
                    <img src="{lookup.image}" alt="server icon"/>
                {/if}
            </div>
        </div>
        <div class="right">
            <div class="players">
                {#if (lookup.players)}
                    <span>{lookup.players.online}/{lookup.players.max}</span>
                    <img src="{connectionImage}" alt="{lookup.latency}ms" title="{lookup.latency}ms"/>
                {/if}
            </div>
            <div class="description">
                {#if (lookup.description)}
                    {#each lookup.description as extra}
                        {#if (extra.text === "\n")}
                            <br />
                        {:else}
                            <span style:color="var({convertColor(extra.color ?? "white")})">
                                {extra.text}
                            </span>
                        {/if}
                    {/each}
                {:else if (lookup.success === false && lookup.timestamp > 0)}
                    <span style:color="var(--mc-red)">
                        Server Offline
                    </span>
                {:else}
                    <span class="loading" style:color="var(--mc-gray)">
                        Pinging
                        <img src="{pingImage}" alt="Ping image" use:startAnimation />
                    </span>
                {/if}
            </div>
            <div>
                {#if (lookup.description)}
                    <span><br /></span>
                {/if}
            </div>
        </div>
    </div>
</a>

<style>
.loading:after
{
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    /* animation: ellipsis 1s infinite; */
    content: "";
}

@keyframes ellipsis
{
    from
    {
        content: "";
    }
    25%
    {
        content: ".";
    }
    50%
    {
        content: "..";
    }
    75%
    {
        content: "...";
    }
    to
    {
        content: "";
    }
}

.card
{
    display: flex;
    align-items: stretch;
    margin: 0 auto;
    width: 100%;
    max-height: 150px;

    font-size: 1em;
    white-space: nowrap;
    color: var(--mc-gray);
    background-color: rgba(0, 0, 0, 0.25);

    border: var(--mc-dark-gray) solid 3px;
    image-rendering: pixelated;
    box-sizing: border-box;
}

@media screen and (max-width: 850px)
{
    .card
    {
        font-size: 1.5vw;
    }
}

.card:hover
{
    border-color: var(--mc-white)
}

.card .right
{
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.card .left
{
    flex-grow: 1;
    flex-shrink: 1;
}

.card .logo
{
    height: 100%;
}

.card .logo img
{
    height: 100%;
}

.card .players
{
    text-align: right;
    margin-right: 4px;
}

.card .players img
{
    height: 2vmin;
    vertical-align: middle;
    margin-top: -1px;
}

.card .description img
{
    height: 2vmin;
    vertical-align: middle;
    margin-top: -0.4vmin;
}

.card .players span
{
    vertical-align: middle;
}
</style>
