<script lang="ts">
    import type { WorldMeta } from "$lib/types";
    import downloadIcon from "$lib/images/ui/download_icon.png";
    import { bytesToHuman, toTitleCase } from "$lib/util";

    export let world: WorldMeta;

    let descriptors = [];
    if (world.difficulty) descriptors.push(toTitleCase(world.difficulty));
    if (world.seed) descriptors.push(world.seed)
    if (world.fileSize) descriptors.push(bytesToHuman(world.fileSize));
    else descriptors.push("Unavailable")
    const worldDesc = descriptors.join(", ");
</script>

<!-- svelte-ignore a11y-invalid-attribute -->
<a href="/api/worlds/download/{world.folder}" download="world.zip" title="Download world">
    <div class="card">
        <div class="left">
            <div class="logo">
                <img src="/api/worlds/image/{world.folder}" alt="world icon"/>
                <img src={downloadIcon} class="overlay" alt="download icon" />
            </div>
        </div>
        <div class="right">
            <div class="title">
                {world.title}
            </div>
            <div class="description">
                Version {world.version}, created {new Date(world.created).toLocaleString()}
                <br />
                {worldDesc}
            </div>
        </div>
    </div>
</a>

<style>
.card
{
    display: flex;
    gap: 1.5rem;
    align-items: stretch;
    margin: 0 auto;
    width: 100%;
    max-height: 150px;
    padding: 0.25rem;

    font-size: 1em;
    white-space: nowrap;
    color: var(--mc-gray);
    background-color: rgba(0, 0, 0, 0.25);

    border: var(--mc-dark-gray) solid 3px;
    image-rendering: pixelated;
    box-sizing: border-box;
}

@media screen and (max-width: 850px)
{
    .card
    {
        font-size: 1.5vw;
    }
}

.card:hover
{
    border-color: var(--mc-white)
}

.card .right
{
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.card .left
{
    flex-grow: 1;
    flex-shrink: 1;
}

.card .logo
{
    position: relative;
    height: 100%;
}

.card .overlay
{
    display: none;
}

.card:hover .overlay
{
    display: inline-block;
    position: absolute;
    left: 0;
}

.card .overlay:hover
{
    filter: brightness(1.5);
}

.card .logo img
{
    height: 100%;
}

.card .title
{
    color: #ffffff;
}

.card .description img
{
    height: 2vmin;
    vertical-align: middle;
    margin-top: -0.4vmin;
}
</style>
